Options +FollowSymLinks
RewriteEngine On

# Garante que o servidor procure por index.html
DirectoryIndex index.html

# -----------------------------------------------------------
# CLAUDIA CAKES
# -----------------------------------------------------------
# Se digitar ClaudiaCakes (qualquer jeito), abre o index.html da pasta claudiacakes
RewriteRule ^claudiacakes/?$ /claudiacakes/index.html [R=301,NC,L]

# -----------------------------------------------------------
# PARRILLA 316
# -----------------------------------------------------------
# Se digitar Parrilla316 (qualquer jeito), abre o index.html da pasta parrilla316
RewriteRule ^parrilla316/?$ /parrilla316/index.html [R=301,NC,L]

# Corretor para quem digitar "Parrilha" (com LH)
RewriteRule ^parrilha316/?$ /parrilla316/index.html [R=301,NC,L]
